@page
@using SharedModel.Model
@model Display
@{
    Layout = "_DisplayLayout";
    ViewData["Title"] = "Proxygen";
}

@if (Model.UnrecognizedCards.Count > 0)
{
    <div class="error_frame">
        <p>Unrecognized cards</p>
        <ul>
            @foreach (var unrecognized in Model.UnrecognizedCards)
            {
                <li>@unrecognized</li>
            }
        </ul>
    </div>
    return;
}

@functions {

    private void RenderFace(Face face, string frameClass = "card_inner")
    {
        <div class="@frameClass">
            <div class="name_mana_line">
                <p class="name">@face.Name</p>
                @if (face.ManaCost is not null)
                {
                    <div class="mana_cost">
                        @Html.Raw(string.Join("&#8203", face.ManaCostComponents))
                    </div>
                }
            </div>
            @* The art box element is purely to assist the flex layout,
                it is where the art would normally go, so having some space there feels right :) *@
            <div class="art_box"></div>
            <p class="type_line">@face.TypeLine</p>
            @if (face.OracleText is not null)
            {
                <div class="oracle_box">
                @foreach (var line in face.OracleText.Split("\n"))
                {
                    <p class="oracle_p">@line</p>
                }
                </div>
            }
            @if (face.Power is not null && face.Toughness is not null)
            {
                <p class="power_toughness">@face.Power/@face.Toughness</p>
            }
            @if (face.Loyalty is not null)
            {
                <p class="loyalty">@face.Loyalty</p>
            }
        </div>
    }

}

@foreach (var card in Model.Cards)
{
    @switch (card.CardLayout)
    {
        case CardLayout.Normal:
        {
            @foreach (var face in card.Faces)
            {
                <div class="card_frame">
                    @{ RenderFace(face); }
                </div>
            }

            break;
        }
        case CardLayout.Split:
        {
            <div class="card_frame">
                @foreach (var face in card.Faces)
                {
                    RenderFace(face, "card_inner split_inner");
                    if (face != card.Faces.Last())
                    {
                        <div class="spacer"></div>
                        <hr class="flip_divider"/>
                        <div class="spacer"></div>
                    }
                }
            </div>
            break;
        }
        case CardLayout.Flip:
        {
            <div class="card_frame">
                @{ RenderFace(card.Faces.First(), "card_inner flip_top"); }
                <div class="spacer"></div>
                <hr class="flip_divider"/>
                <div class="spacer"></div>
                @{ RenderFace(card.Faces.Skip(1).First(), "card_inner flip_bottom"); }
            </div>
            break;
        }
        default:
            throw new ArgumentOutOfRangeException();
    }
}
