@page
@using System.Globalization
@model Stats

@{
    ViewData["Title"] = "Proxygen";
}

<div id="surround">
    <div id="content">
        <h1>Request Telemetrics</h1>
        <h2>Total Requests Received</h2>
        <table style="margin-left: auto; margin-right: auto; min-width: 70%">
            <tr>
                <td style="text-align: left">Last 7 days</td>
                <td style="min-width: 2em"></td>
                <td>@Model.RequestsLastSevenDays</td>
            </tr>
            <tr>
                <td style="text-align: left">Last 24 hours</td>
                <td style="min-width: 2em"></td>
                <td>@Model.RequestLastTwentyFourHours</td>
            </tr>
        </table>
        <h2>Failed Requests</h2>
        <table style="margin-left: auto; margin-right: auto; min-width: 70%">
            <tr>
                <td style="text-align: left">Last 7 days</td>
                <td style="min-width: 2em"></td>
                <td>@Model.FailLastSevenDays</td>
            </tr>
            <tr>
                <td style="text-align: left">Last 24 hours</td>
                <td style="min-width: 2em"></td>
                <td>@Model.FailLastTwentyFourHours</td>
            </tr>
        </table>
        <h1>Update History</h1>
        <table style="margin-left: auto; margin-right: auto; min-width: 70%">
            <tr>
                <th>Time</th>
                <th></th>
                <th>Status</th>
            </tr>
            @foreach (var update in Model.LastSevenUpdates)
            {
                <tr>
                    <td style="font-family: monospace">@update.When.ToString("O", CultureInfo.InvariantCulture)</td>
                    <td style="width: 10%"></td>
                    <td style="font-family: monospace">@update.Status</td>
                </tr>
            }
        </table>
    </div>
</div>